@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  button {
    @apply bg-zinc-200 hover:bg-zinc-100 active:bg-zinc-300 cursor-default;
    @apply px-1 py-0 rounded border border-neutral-600;
  }
  h1 {
    @apply text-3xl font-bold my-4;
  }
}
